<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Destinations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <div id="Titre">
        Votez pour notre prochaine destination
    </div>
    <div id="Boutons">
        <form method="POST" action="choixpays">
            <div id="ligne_1">
                <button name="pays" type="submit" value="Japon" class="ligne_1"><span>Japon</span></button>
                <button name="pays" type="submit" value="Polynésie Française" class="ligne_1"><span>Polynésie Française</span></button>
                <button name="pays" type="submit" value="Cuba" class="ligne_1"><span>Cuba</span></button>
            </div>
            <div id="ligne_2">
                <button name="pays" type="submit" value="Pérou" class="ligne_2"><span>Pérou</span></button>
                <button name="pays" type="submit" value="USA" class="ligne_2"><span>USA</span></button>
                <button name="pays" type="submit" value="Argentine" class="ligne_2"><span>Argentine</span></button>
            </div>
        </form>
    </div>
    <div id="lien_resultat">
        <a href="{{ url_for("resultat") }}">les résultats</a>
    </div>

</body>
</html>

